Body{
    padding-bottom: 20px;
   color: #5a5a5a;
}

.navbar-wrapper{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
/*    color: palevioletred;*/
}
.navbar-wrapper > .container{
    padding-right: 0;
    padding-left: 0;
    
}

.navbar-wrapper .navbar{
    padding-right: 20px;
    padding-left: 20px;
}


.navbar-wrapper .navbar .container{
    width: auto;
}


.carousal{
    height: 500px;
    margin-bottom: 50px;
}

.carousal .item{
    height: 500px;
}


.carousal-inner > .item > img{
    position: absolute;
    height: 500px;
    min-width: 100%;
    top: 0;
    left: 0;
}
.team .col-lg-4{
    text-align: center;
    margin-bottom: 20px
}

.divider{
    margin: 40px 0;
}
.mimi{
    padding-left: 50px;
    
}
.nini{
    padding-right: 50px;
    
}
footer{
    margin: 0 100px;
    padding-top: 20px;
}


